<header>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="toggleRightSidenav()">
        <mat-icon aria-label="Example icon-button with a heart icon">reorder</mat-icon>
      </button>
      <div class="logo"></div>
      <span>{{appHeader}} <small>{{creator}}</small></span>
      <span class="example-spacer"></span>
      <div class="lastUpdate">
        <small *ngIf="lastUpdate">Last update:</small>
        <small>{{lastUpdate | date: 'medium'}}</small>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>
