header {
  .logo {
    font-weight: bold;
    background-image: url("../../assets/images/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 65px;
    display: inline-block;
  }
}
