<mat-expansion-panel id="{{car.vin}}_panel" [ngClass]="{'blink_me': isDisconnected}">
  <mat-expansion-panel-header>
    <mat-panel-title>
      Vin Code
    </mat-panel-title>
    <mat-panel-description>
      {{car.vin}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>Reg. No: {{car.registrationNumber}}</p>
  <mat-divider></mat-divider>
  <button mat-icon-button (click)="zoom()">
    <mat-icon matTooltip="Zoom" matTooltipPosition="below">zoom_in</mat-icon>
  </button>
  <button mat-icon-button (click)="follow()">
    <mat-icon matTooltip="Follow" matTooltipPosition="below">visibility</mat-icon>
  </button>
  <button mat-icon-button (click)="showRoute()">
    <mat-icon matTooltip="Show Route" matTooltipPosition="below">trending_up</mat-icon>
  </button>
</mat-expansion-panel>
