.drawer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
}

.mat-drawer-content {
  overflow: hidden !important;
  height: calc(100% - 128px) !important;
}

.mat-drawer-inner-container {
  height: calc(100% - 128px) !important;
}

.select {
  width: 95%;
  padding: 5px;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(flash-red) {
  0% { background-color: red; }
  100% { background-color: #424242; }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

::ng-deep .blink_me {
  @include animation('flash-red 1s linear infinite');
}
