<mat-drawer-container class="drawer" hasBackdrop="false">
  <mat-drawer #sidenav mode="over" [(opened)]="opened">
    <mat-toolbar>Filteration</mat-toolbar>
    <mat-form-field class="select">
      <mat-select placeholder="Choose Customer" [(ngModel)]="selectedCustomer">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let customer of customers" [value]="customer">
          {{customer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="select">
      <mat-select placeholder="Choose Status" [(ngModel)]="selectedStatus">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let status of statuses" [value]="status">
          {{status.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-accordion>
      <app-vehicle *ngFor="let car of cars | carsFilter: selectedStatus: selectedCustomer"  [car]="car" (zoomEvent)="mapCopm.zoomToCar(car.vin)" (routesEvent)="routGridComp.show(car)"></app-vehicle>
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <app-map #mapCopm></app-map>
    <app-route-grid #routGridComp (drawEvent)="mapCopm.drawRoute(this.car)"></app-route-grid>
  </mat-drawer-content>
</mat-drawer-container>
